<section class="heading-section">

    <h1 class="title is-1 has-text-centered">Todos</h1>

</section>
    
<div class="container">

    <div class="add-todo-box">

        <form>
            <h2 class="title is-5">New Todo</h2>

            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input type="text" class="input" placeholder="Type todo text here...">
                </p>
                <p class="control">
                    <a class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                    </a>
                </p>
            </div>
        </form>
    </div>

</div>

<section class="section">
    <div class="container">
        <div class="todos-list">
            <div class="todo-item">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>
                <div class="todo-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illum alias placeat amet! Ea aut corrupti, odit deleniti ullam exercitationem aspernatur nulla odio magni soluta ipsam incidunt consectetur explicabo nesciunt.
                </div>
            </div>
        </div>
    </div>
</section>


